
= form_for @user, url: step2_signup_index_path, html: {class: "first_form_box"} do |f|
  = f.fields_for :profile do |p|          #別モデルのprofileに保存する為
    = p.text_field :nickname, placeholder: '例)メルカリ太郎'
  = f.email_field :email, placeholder: 'PC・携帯どちらでも可'
  = f.password_field :password, placeholder: '７文字以上'
  = f.password_field :password_confirmation, placeholder: '７文字以上'
  = f.text_field :last_name, placeholder: '真子'
  = f.text_field :first_name, placeholder: '就有'
  = f.text_field :last_name_kana, placeholder: 'まこ'
  = f.text_field :first_name_kana, placeholder: 'ゆきなり'
  = f.label :gender, :男性
  = f.radio_button :gender, 1
  = f.label :gender, :女性
  = f.radio_button :gender, 2
  = f.label :gender, :無回答
  = f.radio_button :gender, 3
  = f.date_select :birth_day, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
  = f.submit '次へ進む'
