.sell
  .sell__header
    = link_to image_tag("/material/logo/logo.png", class:"sell__header__logo"), root_path
  .sell__main
    .item-form
      = form_with model: @item, local: true do |f|
        .item-photo
          .item-photo__label
            出品画像
            %span.item-photo__label__require
              必須
          .item-photo__text
            最大5枚までアップロードできます
          .item-photo__input
            .prev-content
              - @item.images.each do |image|
                .preview-box
                  .upper-box
                    = image_tag image.image.url, width: "112", height: "112", alt: "preview"
                  .lower-box
                    -# 編集が動かなくなったため保留
                    -# .update-box
                    -#   %label.edit-btn 編集
                    .delete-box
                      .delete-btn
                        %span 削除
            .label-content
              = f.label :"images_attributes_#{@item.images.length}_image", class: "label-box", id: "label-box--#{@item.images.length}" do
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = f.fields_for :images do |i|
                = i.file_field :image, class: "hidden-field"
                = i.check_box:_destroy, class: "hidden-checkbox"
              - @item.images.length.upto(4) do |i|
                %input{name: "item[images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
        .item-overview
          .item-name
            .item-name__label
              商品名
              %span.item-name__label__require
                必須
            = f.text_field :name, class: "item-name__form", placeholder: "40文字まで"
          .description
            .description__label
              商品説明
              %span.description__label__require
                必須
            = f.text_area :description, class: "description__form", placeholder: "商品の説明 (1000文字まで)", rows: '5'
        .item-detail
          商品の詳細
          .category
            .category__label
              カテゴリー
              %span.category__label__require
                必須
              -# 配列を使って階層別にカテゴリーを入れるのは後日
            .category-box
              = f.collection_select :category_id, Category.all, :id, :name, {prompt: "---"}, {class: 'category__form'}
          .size
            .size_label
              サイズ
              %span.size__label__optional
                任意
            = f.fields_for :size do |d|
              = f.collection_select :size_id, Size.all, :id, :name, {prompt: "選択してください"}, {class: "size__form"}

          .brand
            .brand_label
              ブランド
              %span.brand__label__optional
                任意
            = f.text_field :brand, class: "brand__form", placeholder: "40文字まで"
          .condition
            .condition_label
              商品の状態
              %span.condition__label__require
                必須
            = f.fields_for :condition do |d|
              = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "選択してください"}, {class: "condition__form"}

        .item-shipping
          配送について
          .shipping-fee-side
            .shipping-fee-side__label
              配送料の負担
              %span.shipping-fee-side__label__require
                必須
            = f.select :shipping_fee_side, [['送料込み(出品者負担)', true], ['着払い(購入者負担)', false]], {include_blank: '選択してください'}, { class: "shipping-fee-side__form" }
          .prefectures
            .prefectures__label
              発送元の地域
              %span.prefectures__label__require
                必須
            = f.fields_for :prefecture do |d|
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, {class: "prefectures__form"}
          .shipping-days
            .shipping-days__label
              発送までの日数
              %span.shipping-days__label__require
                必須
            = f.fields_for :shipping_day do |d|
              = f.collection_select :shipping_day_id, ShippingDay.all, :id, :name, {prompt: "選択してください"}, {class: "shipping-days__form"}
        .item-price
          .price-range
            価格(¥300~9,999,999)
          .price
            .price__label
              販売価格
              %span.price__label__require
                必須
            .price-input
              ¥
              = f.number_field :price, class: "price-input__form", placeholder: "0", type: "number"
          -# 手数料と利益の計算は最終スプリントでする
          -# リリースに間に合わない場合手数料と販売利益部はコメントアウトにする予定
          .sales-fee
            .sales-fee__label
              販売手数料(10%)
            .sales-fee__calculation
              ー
          .profit
            .profit__label
              販売利益
            .profit__calculation
              ー
        .submit
          = f.submit '編集する', class: "submit__btn"
        .to-top
          = link_to root_path, class: "to-top__link" do
            もどる
        .warning-note
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  .sell__footer
    .sell__footer__infos
      .sell__footer__infos__list
        = link_to 'プライバシーポリシー','#', class: 'sell__footer__infos__list__info'
        = link_to 'FURIMA利用規約','#', class: 'sell__footer__infos__list__info'
        = link_to 'ポイントに関する特約','#', class: 'sell__footer__infos__list__info'
    .sell__footer__logo
      = link_to image_tag("/material/logo/logo-white.png", class:"sell__footer__logo__img"), root_path
    %p.sell__footer__copyright 
      © FURIMA
  
