.item
  .item__wrapper
    .item__title
      %h1=@item.name
    .item__content
      .item__image
        .item__image__top
          = image_tag @item.images.first.image ,size: '360x230',class:"item__image__main"
        .item__image__bottom
          = image_tag @item.images.first.image,size: '160x80',class:"other-img"
          = image_tag @item.images.first.image,class:"other-img"
          = image_tag @item.images.first.image,class:"other-img"
       
      .item__price  
        %h2 ¥#{@item.price}
        = shipping_fee_side
      -# items_helperで定義したif文を呼び出し
        
      .item__description
        %p=@item.description

      .item__info
        %table 
          %tbody
            %tr
              %th 出品者
              %td=@user.nickname
            %tr
              %th カテゴリー
              %td= link_to @categories.parent.name,category_path(@categories.parent)
            %tr
              %th ブランド
              %td=@item.brand
            %tr
              %th 商品のサイズ
              %td=@item.size
            %tr
              %th 商品の状態
              %td=@item.condition
            %tr
              %th 配送料の負担
              -# items_helperで定義したif文を呼び出し
              %td= shipping_fee_side
            %tr
              %th 発送元地域
              %td=@prefecture.name
            %tr
              %th 発送日の目安
              %td #{@item.shipping_day}日
      .bottom-content
        .favorites
          = icon('fa', 'star') 
          お気に入り 0
        .notice
          = link_to '#' ,class:"notice-link"do
            = icon('fa', 'flag')
            不適切な商品の通報

  -if user_signed_in? && current_user.id == @item.user_id
    .seller-box
      .seller-box__edit
        =link_to "商品の編集","#",class:"box-link"
      .seller-box__destroy
        =link_to "商品の削除", "#",class:"box-link"
  -elsif user_signed_in? 
    .buyer-box
      .buyer-box__btn
        =link_to "購入画面へ進む",buyer_path(@item),class:"box-link"
   

  .comment
    .comment__form
      %textarea 
    .comment__attention
      %p 相手のことを考え丁寧なコメントを心がけましょう。
      %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。

      %button{type: "button"}
        %i.fas.fa-comment
          コメントする
  .other-pages
    .other-pages__previous  
      = link_to '#',class:"link" do
        <前の商品
    .other-pages__next
      = link_to '#',class:"link" do
        後ろの商品>
   
  .more-pages
    #{link_to @categories.parent.name,category_path(@categories.parent), class:"link"}をもっと見る
  