!!!
%html
  %head
    %meta{content:  "text/html; charset=UTF-8", "http-equiv":  "Content-Type"}/
    %title FreemarketSample74g
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .header
  .header__inner
    .header__inner__main
      %h1.main-logo
        = link_to image_tag("/material/logo/logo.png", class:"logo"),root_path
      .search-box
        = form_with(url: "#", local: true) do |f|
          = f.text_field :content, class: "search-input", placeholder: "キーワードから探す"
        %button{type: "submit", class: "search-icon"}
          = image_tag("/material/icon/icon-search 1.png", class:"icon")
          %ul.resultLists
    .header__inner__nav
      %ul.lists-left
        %li.lists-left__category
          .category
            カテゴリー
            .parent
              - @parents.each do |parent|
                .parent-content
                  = parent.name
                  .child
                    - parent.children.each do |child|
                      .child-content
                        = link_to child.name, category_path(child.id), class: "top-link"
                        .grandchild
                          - child.children.each do |grandchild|
                            .grandchild-content
                              = link_to grandchild.name, category_path(grandchild.id), class: "top-link"
        %li.lists-left__brand
          ブランド
      %ul.lists-right
        %li.lists-right__login
          = link_to "ログイン", "#", class: "link"
        %li.lists-right__signup
          = link_to "新規会員登録", "#", class: "link"

          
    = yield
  .main__bottom-banner
    .main__bottom-banner__content
      %h2.subtitle
        だれでもかんたん、人生を変えるフリマアプ
      %p.text
        今すぐ無料ダウンロード！
      .btn-wrapper
        .btn
          = link_to "#" do
            = image_tag("/material/pict/apple-store-logo-4.png", id:"apple")
        .btn
          = link_to "#" do
            = image_tag("/material/pict/google-play-badge.png")
  .footer
    %ul.contents
      %li.content
        %h2.content__head FURIMAについて
        %ul
          %li
            = link_to "会社概要（運営会社）", "#", class: "link"
          %li
            = link_to "プライバシーポリシー", "#", class: "link"
          %li
            = link_to "FURIMA利用規約", "#", class: "link"
          %li
            = link_to "ポイントに関する特約", "#", class: "link"
      %li.content
        %h2.content__head FURIMAを見る
        %ul
          %li
            = link_to "カテゴリー一覧", "#", class: "link"
          %li
            = link_to "ブランド一覧", "#", class: "link"
      %li.content
        %h2.content__head ヘルプ＆ガイド
        %ul
          %li
            = link_to "FURIMAガイド", "#", class: "link"
          %li
            = link_to "FURIMAロゴ利用ガイドライン", "#", class: "link"
          %li
            = link_to "お知らせ", "#", class: "link"
    .footer__logo
      = link_to image_tag("/material/logo/logo-white.png", class:"logo")
    %p © FURIMA
  .purchase-btn
    %span.purchase-btn__text 出品する
    = link_to image_tag("/material/icon/icon_camera.png", class:"purchase-btn__icon")